.triplist {
  display: flex;
  align-items: start;
  gap: 4.375rem;

  &__box {
    display: flex;
    max-width: 1000px;
    align-items: start;
    gap: 4.375rem;
    overflow-x: auto;
    padding: 0 20px 20px 20px;
  }
}
