.button {
  width: 120px;
  height: 48px;
  background: #605dec;
  border: 1px solid #605dec;
  border-radius: 4px;
  align-items: center;
  padding: 12px 20px;
  color: #fff;
  transition: all 2s ease;
  cursor: pointer;

  &:hover {
    background: #232538;
    border: 1px solid #232538;
    transition: all 2s ease;
  }
}
